html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* sets base font size to 10px */
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  background-color: red;
}

.container.image {
  height: 40rem;
  width: 40rem;
  background-color: blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.arrows {
  display: flex;
  justify-content: space-between;
}
.arrow {
  border: solid black;
  padding: 1rem;
  font-size: 5rem;
}
